@charset "UTF-8";

header div#header-image {
    width: 20%;
}

div#container {
    width: 100vw;
    margin: auto;
}

main {
    display: flex;
    justify-content: space-evenly;
}

div#container div#main-reading {
    width: 60%;
}

div#container div#section-nav {
    display: block;
    width: 40%;

    margin-top: 30px;
}