@charset "UTF-8";

header div#header-image {
    width: 10%;
}

div#container {
    width: 80vw;
    margin: auto;
}

div#nav-button {
    display: none;
}

menu {
    display: block;
}

main {
    display: flex;
    justify-content: space-evenly;
}

div#main-reading {
    width: 75%;
}

div#section-container {
    width: 20%;
}

div#section-nav {
    display: block;

    position: sticky;
    top: 5%;
    margin-top: 30px;
    padding: 20px;
}