@charset "UTF-8";

/* General settings */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    font-size: 1em;

    width: 100vw;
    height: 100vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Texts Format */
article h1 {
    font-size: 2.2em;
    font-weight: normal;
}

article h2 {
    font-size: 2em;
    font-weight: normal;
}

article h3 {
    font-size: 1.7em;
    font-weight: normal;
}

article h4 {
    margin-top: 10px;
    font-size: 1.4em;
    font-weight: normal;
}

article p {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 16px;

    font-size: 1.1em;
    line-height: 1.7em;
}

article p {
    text-indent: 30px;
}

article p.sub-header-paragraph {
    font-size: 1.3em;
    text-indent: 0px;
    text-align: left;

    width: 70%;
}

article span.tech-date {
    font-size: .5em;
}

article p.indent-zero {
    text-indent: 0;
}

table caption {
    display: none;
}

table span {
    font-style: italic;
}

ul {
    margin: 15px;
}

li {
    font-size: 1.1em;
    margin: 8px 0px;
}

article a {
    font-weight: bold;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

/* Box settings */
header {
    background-color: #2321fe;
    color: white;

    height: 170px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}

header > div#main-header {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    background-color: white;
    height: 60px;
    border-bottom: 3px solid #2321fe;

    display: flex;
    align-items: center;
    justify-content: center;
}

menu {
    display: none;
}

menu > ul > li {
    color: #2321fe;

    display: inline;
    padding: 10px 15px;
}

menu a {
    color: #2321fe;

    width: 100%;
    height: 100%;

    padding: 15px;

    font-weight: bold;
    text-decoration: none;
}


menu a:hover {
    background-color: #2321fe;
    color: #fff;

    transition: .3s;
    text-decoration: none;
}

article {
    padding: 20px;
    margin-top: 30px;
}

article table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0px;
}

table th, td {
    border: 1px solid rgb(131, 131, 131);
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: rgb(235, 235, 235);
}

table th {
    background-color: rgb(235, 235, 235);
}

table td.first-col {
    text-align: center;
}

footer {
    background-color: black;
    color: white;

    height: 80px;
    padding: 3px;
    padding-top: 10px;
    margin-top: auto;

    text-align: center;
}

footer p {
    margin: 5px;
}

footer a {
    color: white;

    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Section nav settings */
div#section-nav {
    display: none;
    position: sticky;
    top: 15%;

    font-size: 12px;
}

div#section-nav h1 {
    font-size: 13px;
}

div#section-nav ul li {
    list-style-type: none;
    text-indent: 0;
}

div#section-nav a {
    color: #838383;
    text-decoration: none;
}

div#section-nav a:hover {
    color: #2321fe;
}

details > summary {
    list-style: none;
}

/* Media settings */
figure {
    margin-bottom: 20px;
}

figcaption {
    font-size: 0.9em;
    color: #242424;
}

header figcaption {
    display: none;
}

main img {
    width: 100%;
}

iframe {
    width: 100%;
    height: 490px;
}

form input {
    width: 100%;
}