@charset "UTF-8";

:root {
    --fonte-padrão: Arial, Verdana, Helvetica sans-serif;
}

body {
    margin: 0 !important;

    font-family: var(--fonte-padrão);
}

footer {
    background-color: black;
    color: white;

    padding: 1px;

    text-align: center;
}

footer p {
    margin: 5px;
}

footer a {
    color: white;

    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}